.image-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d7cece;

  height: 300px; /* Adjust the height as needed */
  background-image: url("your-image-url.jpg"); /* Add your image URL here */
  background-size: cover;
  background-position: center;
  z-index: -1; /* Place it behind other content */
  opacity: 0.7; /* Adjust the opacity to control image visibility */
}

/* 
.slideStyle{
    border-radius: 10px;
    background-position: center;
    background-size: cover;
} */
